*{
  margin:0;
  padding:0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.nav-list{
  display: flex;
  width: 90%;
}

.logo{
  width : 16%;
  display : flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 33%;
  border:3px solid blue;
  border-radius: 50px;
  position: relative;
}
.nav-list li{
  padding : 23px 20px;
  list-style: none;
}
.nav-list li:hover{
  background-color: grey;
  padding : 23px 20px;
  list-style: none;
}
.nav-list li a{
  font-size: 18px;
  color:white;
  text-decoration: none
}
.rightnav{
  justify-content: center;
  padding: 23px 30px;
  display:inline-flex;
  width: 50%;
}
#search{
  padding : 5px 3px;
  font-size: 17px;
  background: none;
  border-color:white ;
  border-radius:2px;
  color: white;
}

.input{
  padding-left: 30px;
  padding-top: 2px;
  justify-content: center;
  align-items: center;
}
.btn-sm{
  background: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-color:white;
  border-radius: 8px;
}
.btn-sm:hover{
  background-color:white;
  color:black;
  border-color:
}
.background1{
  background: rgba(0, 0, 0, 0.7) url('../images/i1.jpg');
  background-size: cover;
  background-blend-mode: darken;
}
